.productsHeading {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  color: rgba(0, 0, 0, 0.678);
  font-size: 2rem; ;
  text-align: center;
}
.products-main {
  display: flex;
  flex-direction: column;
height: 100%;

}
.card{
  display: flex;
  height: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  
  
  
}
.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 5vmax;
  min-height: 30vh;
  justify-content: center;
  min-height: 30vh;
  margin-left: 10rem;
}

.paginationBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
  width: 100%;
}

.filterBox {
  width: 20%;
  position: absolute;
  top: 15%;
  left: 4vmax;
  
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(181, 14, 164, 0.61);
  font-size: 1.5rem;
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-link:hover {
  color: tomato;
}

@media screen and (max-width:1200px) {
.productsHeading{
  font-size: 2rem;
  margin: 1rem;
  padding: 0;
  

}

.card{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

  .filterBox {
    width: 100%;
    position: static;
    margin-top: 20rem;
    text-align: center;
    padding: 1rem;
    
    border-top: 1px solid rgba(0, 0, 0, 0.171);
  }
.categoryBox{
  display: flex;
  justify-content: space-evenly;
  
}
  .category-link {
    font-size: 1.5rem;
    margin: 1rem;
  }
}
