* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  line-height: 1.5;

  border: 1px solid rgb(207, 206, 206);

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
